.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 0rem;
  --slide-size: 380px;
  --detail-medium-contrast: rgb(25, 25, 25);
  --text-body: rgb(222, 222, 222);
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  transform-origin: center; 
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  max-width: var(--slide-size);
  margin: auto;
}
.embla__slide_protect {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
  -webkit-tap-highlight-color: black;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: .6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla__dot:after {
  /* box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast); */
  background-color: var(--detail-medium-contrast);
  width: 1rem;
  height: .4rem;
  display: flex;
  align-items: center;
  content: '';
  border-radius: 20px;
}

.embla__dot--selected:after {
  /* box-shadow: inset 0 0 0 0.2rem var(--text-body); */
  width: 1.4rem;
  background-color: var(--text-body);
}

.embla__play {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  color: var(--text-body);
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0 2.4rem;
  min-width: 8.4rem;
}



/* custom css */

.poster-card {
  max-width: 450px;
}
.custom-width {
  max-width: 450px !important;
}

/* custom  */
.custom-top-programName {
  position: absolute;
  top: 130px;
  left: 42px;
}
.custom-top-winners {
  position: absolute;
  top: 199px;
  left: 68px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.custom-program-category {
  font-size: 11px !important;
  margin-top: -4px;
}

.custom-program-name {
  font-size: 12px !important;
}
.custom-winner-name {
  font-size: 11px !important;
}

.custom-winner-team {
  font-size: 8px !important;
  margin-top: -8px !important;
}


/* carousal */
.carousal-top-programName {
  position: absolute;
  top: 115px;
  left: 35px;
}

.carousal-top-winners {
  position: absolute;
  top: 168px;
  left: 56px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.carousal-winner-name {
  font-size: 9px !important;
}

.carousal-winner-team {
  font-size: 7px !important;
  margin-top: -7px;
}

.carousal-program-category {
  font-size: 10px !important;
}

.carousal-program-name {
  font-size: 11px !important;
}

@media (max-width:510px) {
  .embla {
    --slide-size: 300px;
  }

  .poster-card {
    max-width: 350px;
  }

  .custom-width {
    max-width: 350px !important;
  }

  .custom-top-programName {
    position: absolute;
    top: 105px;
    left: 32px;
  }

  .custom-top-winners {
    position: absolute;
    top: 153px;
    left: 50px;
    gap: 5px;
  }

  .custom-winner-name {
    font-size: 8px !important;
  }

  .custom-winner-team {
    font-size: 6px !important;
    margin-top: -8px !important;
  }

  .custom-program-category {
    font-size: 8px !important;
  }

  .custom-program-name {
    font-size: 9px !important;
  }

  /* carousal */

  .carousal-top-programName {
    position: absolute;
    top: 90px;
    left: 28px;
  }

  .carousal-top-winners {
    position: absolute;
    top: 131px;
    left: 42px;
    gap: 5px;
  }

  .carousal-winner-name {
    font-size: 7px !important;
  }

  .carousal-winner-team {
    font-size: 5px !important;
    margin-top: -8px;
  }

  .carousal-program-category {
    font-size: 8px !important;
  }

  .carousal-program-name {
    font-size: 8px !important;
  }

}